.list-inner 
  margin-top 2.2rem
  margin-right .1rem
  img
    margin-top .2rem
    height: 2.1rem;
    width: 100%;
    box-shadow: 0 15px 10px -9px #777 inset;
    border-radius: .3rem;
    margin-left .1rem
    margin-right .1rem
.gedangc
    width 1.2rem
    height 0.44rem
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 0.2rem;
    border-radius: 1rem;
    letter-spacing: 0.05rem;
    text-align: center;
    border: 1px solid #ccc;
    margin-left .4rem
    margin-top .3rem
    padding-left .1rem
.desc
    height: 0.6rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    font-size: 0.23rem;
    line-height: 0.3rem;
    letter-spacing: 1px;
.inner
  position relative
  .pos
    position absolute
    z-index: 1;
    top .3rem
    right: 0.21rem;
    font-size: 0.2rem;
    color: #fff;
.select
  color #111
  font-size .32rem